{{> nav }}

<div class="container">

  <h1>{{@title}}</h1>
  <p class="description">{{@description}}</p>

  <div class="list-all">
    <div id="serial-box">
      <label for="serial">Serial #: </label>
      <input id="serial" type="text" name="serial">
      <ul class="error"></ul>
    </div>
    
    <div id="notes-box">
      <label for="notes">Notes: </label>
      <textarea id="notes" name="notes" rows="3" cols="50" maxlength="128"></textarea>
      <ul class="error"></ul>
    </div>

    <table id="list-table">
      <thead id="list-head">
        <tr>
          <th class="action-col">Action</th>
          <th class="color-coded"></th>
          <th>
            SKU 
            <img src="/images/none.png" class="none"></th>
          <th>
            Master Ctns. 
            <img src="/images/none.png" class="none"></th>
          <th>
            Inner Ctns. 
            <img src="/images/none.png" class="none"></th>
          <th>
            Count 
            <img src="/images/none.png" class="none"></th>
        </tr>
      </thead>
      <tbody id="list-body">
        <tr>
          <td class="action-col add">
            <img class="action-icon" src="/images/new.png">
          </td>
          <td class="color-coded add"></td>
          <td class="sku add">
            <select name="sku">
              <option disabled selected value="">Select a SKU:</option>
              {{#each skus}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <ul class="error"></ul>
          </td>
          <td class="master add">
            <input type="number" name="master" min="1">
            <ul class="error"></ul>
          </td>
          <td class="inner add"></td>
          <td class="quantity add"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL:</td>
          <td colspan="4"></td>
          <td id="total"></td>
        </tr>
      </tfoot>
    </table>

    <div id="items-box">
      <ul class="error"></ul>
    </div>

    <br>
    <input id="submit-order-btn" class="btn btn-success" type="submit" value="Submit Order">

    {{!-- Hidden element contains model name necessary for Javascript function. --}}
    <div id="model-name" class="hidden-name">{{@modelName}}</div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/factoryOrder.js"></script>
