{{> nav }}

<h1>Inventory</h1>

<table>
  <thead>
    <tr>
      <th>MC</th>
      <th>IC</th>
      <th>Details</th>
      <th>Color</th>
      <th>Size</th>
      <th>Status</th>
      <th>Create Date</th>
      <th>Arrival Date</th>
      <th>Ship Date</th>
      <th>Notes</th>
    </tr>
  </thead>

  {{#each items}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.status}}</td>
      <td>{{this.ColorName}}</td>
      <td>{{this.SizeName}}</td>
      <td>{{this.FactoryOrderId}}</td>
      <td>{{this.CustomerOrderId}}</td>
      <td>{{this.innerbox}}</td>
      <td>{{this.outerbox}}</td>
    </tr>
  {{/each}}

</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/inventory.js"></script>