{{> nav }}

<div class="container">
  <h1>Inventory</h1>

  {{> error_msg }}

  <table id="inventory-table">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Status</th>
      <th>SKU</th>
      <th>UPC</th>
      <th>Factory Order</th>
      <th>Customer Order</th>
      <th>Inner Carton</th>
      <th>Master Carton</th>
      <th>Action</th>
    </tr>

    {{#each items}}
      <tr>
        <td>{{this.num}}</td>
        <td>{{this.id}}</td>
        <td>{{this.status}}</td>
        <td>{{this.SKU.id}}</td>
        <td>{{this.SKU.upc}}</td>
        <td>{{this.FactoryOrderId}}</td>
        <td><a href="/customer_orders/{{this.CustomerOrderId}}">{{this.CustomerOrderId}}</a></td>
        <td>{{this.innerbox}}</td>
        <td>{{this.outerbox}}</td>
        <td>
          <a href="/item/edit/{{this.id}}"><button class="btn btn-primary">Edit</button></a>
          <button class="btn btn-danger" onclick="deleteItem('{{this.id}}')">Delete</button>
        </td>
      </tr>
    {{/each}}

  </table>
</div>

<script>
  function deleteItem(id) {
    let xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", "/api/items/" + id, true);
    xhttp.onreadystatechange = function(event) {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          location.reload();
        } else {
          error.innerHTML = "<ul><li>Error: " + xhttp.statusText + "</li></ul>";
        }
      }
    };
    xhttp.send();
  }
</script>