{{> nav }}

<div class="container">

  {{!-- Locals here appear at the top of the page to explain
        what the page is about. --}}
  <h1>{{@title}}</h1>
  <p class="description">{{@description}}</p>

  {{!-- Wrapper div provides positional styling options. --}}
  <div class="list-all">
    <table id="list-table">
      {{!-- Table head generated from keys of @types local. --}}
      <thead id="filter-head">
        <tr>
          <th colspan="{{@columns}}">
            <select name="filter-select" id="filter-select">
              {{#each @types~}}{{#unless this.unsortable~}}
              <option value="{{@key}}">
              {{~#if this.alias~}}
                {{this.alias}}
              {{~else~}}
                {{@key}}
              {{~/if~}}
              </option>
              {{/unless}}{{/each}}
            </select>

            {{#each @types~}}
            {{~#eq? this.type "string"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <input type="text" name="{{@key}}" value="">
            </div>
            {{~/eq?~}}

            {{~#eq? this.type "integer"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <input type="number" name="{{@key}}" value="" min="1">
            </div>
            {{~/eq?~}}

            {{~#eq? this.type "date"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <input type="date" name="{{@key}}" 
                pattern="[0-1][0-2]/[0-3][0-9]/2[0-9]{3}">
            </div>
            {{~/eq?~}}
            {{~#eq? this.type "dateonly"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <input type="date" name="{{@key}}" 
                pattern="[0-1][0-2]/[0-3][0-9]/2[0-9]{3}">
            </div>
            {{~/eq?~}}

            {{~#eq? this.type "enum"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <select name="{{@key}}">
                {{#each this.select}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            {{~/eq?~}}

            {{~#eq? this.type "reference"~}}
            <div id="filter-{{@key}}" class="filter">
              {{@key}}: <select name="{{@key}}">
                {{#each this.select}}
                <option value="{{this.value}}">{{this.text}}</option>
                {{/each}}
              </select>
            </div>
            {{~/eq?~}}
            {{~/each}}
            <button type="button" id="filter-button">Filter</button>
          </th>
        </tr>
      </thead>
      <thead id="list-head">
        <tr>
          {{!-- Action column contains icons that act as
                submission buttons. --}}
          <th class="action-col">Action</th>
          {{!-- Color-coded line represents status of each row. --}}
          <th class="color-coded"></th>
          {{!-- The remaining rows are populated from data. --}}
          {{#each @types}}
            <th class="{{@key}}">
              {{#unless this.unsortable}}<a class="sort-link">
              {{~/unless~}}
              {{~#if this.alias~}}
                {{this.alias}}
              {{~else~}}
                {{@key}}
              {{~/if~}}
              {{~#unless this.unsortable}}</a>{{/unless}}
              {{~#if this.explanation~}}
              <div class="explain">{{this.explanation}}</div>
              {{/if~}}          
              {{#eq? @key @sort}}<img src="/images/
                {{~#if @desc}}desc{{else}}asc{{/if}}.png" 
                class="{{#if @desc}}desc{{else}}asc{{/if}}">
              {{~else~}}
              <img src="/images/none.png" class="none">
              {{~/eq?~}}
            </th>
          {{/each}}
        </tr>
      </thead>
      
      {{!-- List body encapsulates functionality to add new line, 
            as well as act on existing line items. --}}
      <tbody id="list-body">
        {{!-- First row contains form elements to add new line.
              Form elements are generated based on @types derived
              from database. --}}
        {{~#unless @listOnly~}}
        <tr>
          <td class="action-col add">
            <img class="action-icon" src="/images/new.png">
            <div class="explain">Submit new record.</div>
          </td>
          <td class="color-coded add"></td>
          {{~#each @types~}}
            {{!-- @key: Database column names,
                  this.type: Database column type. --}}
            <td class="{{@key}} add {{this.type}}">
              {{!-- String fields are entered by inputs. --}}
              {{~#eq? this.type "string"~}}
                <input type="text" name="{{@key}}" value="">
              {{~/eq?~}}
              {{!-- Integer fields are entered by numerical inputs.
                    Minimum allowed input is 1 (non-negative). --}}
              {{~#eq? this.type "integer"~}}
                <input type="number" name="{{@key}}" value="" min="1">
              {{~/eq?~}}
              {{!-- Date fields are a label, since they are usually
                    auto-generated based on current date. This may
                    need to change on future occasion. --}}
              {{~#eq? this.type "date"~}}
                <div class="date"></div>
              {{~/eq?~}}
              {{~#eq? this.type "dateonly"~}}
                <div class="date"></div>
              {{~/eq?~}}
              {{!-- Enumerated fields are selected from a dropdown
                    based on database attributes. --}}
              {{~#eq? this.type "enum"~}}
                <select name="{{@key}}">
                  <option disabled selected value=""> Select a {{@key}}: </option>
                  {{#each this.select}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              {{~/eq?~}}
              {{!-- Referenced fields are selected from a dropdown
                    based on associated database GET calls. --}}
              {{~#eq? this.type "reference"~}}
                <select name="{{@key}}">
                  <option disabled selected value=""> Select a {{@key}}: </option>
                  {{#each this.select}}
                    <option value="{{this.value}}">{{this.text}}</option>
                  {{/each}}
                </select>
              {{~/eq?~}}
              {{!-- Each column contains an error field, where
                    corresponding errors will be propagated. --}}
              <ul class="error"></ul>
            </td>
          {{~/each~}}
        </tr>
        {{~/unless~}}

        {{!-- Remaining rows lists existing items, sorted by
              status: new, used, inactive. --}}
        {{~#each @list}}
        <tr class="{{this.state}}{{#if this.clickId}} id-{{this.clickId}}{{/if}}">
          <td class="action-col {{this.state}}">
            {{~#if @expand}}
            <img class="expand" src="/images/expand.png">
            <div class="explain">Show details.</div>
            {{/if}}
            {{~#if @stock}}
              {{#neq? this.state 'eternal'}}
              <img class="stock" src="/images/stock.png">
              <div class="explain">Mark order as received.</div>
              {{else}}
              <img class="none" src="/images/none.png">
              {{/neq?}}
            {{/if}}
            {{#if @printQr}}
              <a href="/{{@modelName}}/labels/{{this.clickId}}">
                <img class="print-qr" src="/images/print.png">
                <div class="explain">Download QR template.</div>
              </a>
            {{/if}}
            {{~#if-role @role "in" 'A'}}
              {{~#eq? this.state 'new'~}}
                <img class="action-icon" src="/images/remove.png">
                <div class="explain">Permanently delete record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'used'~}}
                <img class="action-icon" src="/images/hide.png">
                <div class="explain">Deactivate record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'hidden'~}}
                <img class="action-icon" src="/images/restore.png">
                <div class="explain">Restore deactivated record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'eternal'~}}
                <img class="none" src="/images/none.png">
              {{~/eq?~}}
            {{~else~}}
              <img class="none" src="/images/none.png">
            {{/if-role~}}
          </td>
          <td class="color-coded {{this.state}}"></td>
          {{~#each this}}{{#neq? @key 'state'}}{{#neq? @key 'clickId'}}
          <td class="{{@key}}">
            {{~#eq? @key 'notes'~}}
              {{#neq? this ''}}
              <img class="notes-icon" src="/images/notes.png">
              <div class="show-notes">{{this}}
                <button type="button" class="notes-close-btn">Close</button>
              </div>
              {{/neq?}}
            {{~else~}}
              {{this}}
            {{~/eq?~}}
          </td>
          {{~/neq?}}{{/neq?}}{{/each}}
        </tr>
        <tr class="details-row{{#if this.clickId}} id-{{this.clickId}}{{/if}}">
          <td colspan="{{@columns}}"></td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="{{@columns}}">
            <nav id="pages">
              {{#neq? @page 1}}<a id="prior-page">&#12296;</a>{{/neq?}} 
              <input type="number" name="page" id="page-input" size="2" min="1" value="{{@page}}">  
              <button type="button" id="page-button">Go</button>  
              {{#unless @last}}<a id="after-page">&#12297;</a>{{/unless}}
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>

    {{!-- Hidden element contains model name necessary for Javascript function. --}}
    <div id="model-name" class="hidden-name">{{@modelName}}</div>
  </div>

  <div id="message-bar">
    {{#eq? @modelName 'factory_orders/view'}}Please be patient, this might take a minute...{{/eq?}}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/listView.js"></script>