{{> nav }}

<div class="container">

  {{!-- Locals here appear at the top of the page to explain
        what the page is about. --}}
  <h1>{{@title}}</h1>
  <a id="help" href="/manual#{{@modelName}}">
    Click to see how to use this page.
  </a>

  <div>
    {{#each @filter}}
    <span class="past-filters">{{@key}} = {{this}}
      <button class="remove-filter">X</button>
      <div class="explain">Remove filter.</div>
    </span>
    {{/each}}
  </div>

  {{!-- Wrapper div provides positional styling options. --}}
  <div class="list-all">
    <table id="list-table">
      {{!-- Filter options are hidden until expanded. --}}
      <thead id="filter-head">
        <tr>
          <th colspan="{{@columns}}">
            {{!-- Filter selection box. --}}
            <span id="filter-title">Filter By </span>
            <select name="filter-select" id="filter-select">
              {{#each @types}}{{#unless this.unsortable}}
              <option value="{{@key}}">
              {{~#if this.alias~}}
                {{this.alias}}
              {{~else~}}
                {{capitalize @key}}
              {{~/if~}}
              </option>
              {{~/unless}}{{/each}}
            </select>

            {{!-- Inputs for every filter column. --}}
            {{#each @types}}
            <div id="filter-{{@key}}" class="filter">
              {{~#if this.alias~}}
                {{this.alias}}
              {{~else~}}
                {{capitalize @key}}
              {{~/if~}}: 
              {{#eq? this.type "string"}}
              <input type="text" name="{{@key}}" value="">
              {{/eq?}}
              {{#eq? this.type "integer"}}
              <input type="text" name="{{@key}}" value="">
              {{/eq?}}
              {{#eq? this.type "date"}}
              <input type="date" name="{{@key}}" 
                class="filter-start-date" 
                pattern="2[0-9]{3}-[0-1][0-9]-[0-3][0-9]"> -
              <input type="date" name="{{@key}}" disabled 
                pattern="2[0-9]{3}-[0-1][0-9]-[0-3][0-9]">
              {{/eq?}}
              {{#eq? this.type "dateonly"}}
              <input type="dateonly" name="{{@key}}"  
                class="filter-start-date" 
                pattern="2[0-9]{3}-[0-1][0-9]-[0-3][0-9]"> -
              <input type="dateonly" name="{{@key}}" disabled 
                pattern="2[0-9]{3}-[0-1][0-9]-[0-3][0-9]">
              {{/eq?}}
              {{#eq? this.type "enum"}}
              <select name="{{@key}}">
                {{#each this.select}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
              </select>
              {{/eq?}}
              {{#eq? this.type "reference"}}
              <select name="{{@key}}">
                {{#each this.select}}
                <option value="{{this.value}}">{{this.text}}</option>
              {{/each}}
              </select>
              {{/eq?}}
            </div>
            {{/each}}
            <button type="button" id="filter-button">Filter</button>
          </th>
        </tr>
      </thead>
      {{!-- Table head generated from keys of @types local. --}}
      <thead id="list-head">
        <tr>
          {{!-- Action column contains icons that act as
                submission buttons. --}}
          <th colspan="2" class="action-col">Action
            <img src="/images/filter.png" class="filter-icon">
            <div class="explain">Open filter menu.</div>
          </th>

          {{!-- The remaining rows are populated from data. --}}
          {{#each @types}}
            <th class="{{@key}} {{this.type}}">
              {{#unless this.unsortable}}<a class="sort-link">
              {{~/unless~}}
              {{~#if this.alias~}}
                {{this.alias}}
              {{~else~}}
                {{@key}}
              {{~/if~}}
              {{~#unless this.unsortable}}</a>{{/unless}}
              {{~#if this.explanation~}}
              <div class="explain">{{this.explanation}}</div>
              {{/if~}}          
              {{#eq? @key @sort}}<img src="/images/
                {{~#if @desc}}desc{{else}}asc{{/if}}.png" 
                class="{{#if @desc}}desc{{else}}asc{{/if}}">
              {{~else~}}
              <img src="/images/none.png" class="none">
              {{~/eq?~}}
            </th>
          {{/each}}
        </tr>
      </thead>
      
      {{!-- List body encapsulates functionality to add new line, 
            as well as act on existing line items. --}}
      <tbody id="list-body">
        {{!-- First row contains form elements to add new line.
              Form elements are generated based on @types derived
              from database. --}}
        {{~#unless @listOnly~}}
        <tr>
          <td class="action-col add">
            <img class="action-icon" src="/images/new.png">
            <div class="explain">Submit new record.</div>
          </td>

          {{!-- Color-coded line represents status of each row. --}}
          <td class="color-coded add"></td>
          {{~#each @types~}}
            {{!-- @key: Database column names,
                  this.type: Database column type. --}}
            <td class="{{@key}} add {{this.type}}">
              {{!-- String fields are entered by inputs. --}}
              {{~#eq? this.type "string"~}}
                <input type="text" name="{{@key}}" value="">
              {{~/eq?~}}
              {{!-- Integer fields are entered by numerical inputs.
                    Minimum allowed input is 1 (non-negative). --}}
              {{~#eq? this.type "integer"~}}
                <input type="number" name="{{@key}}" value="" min="1">
              {{~/eq?~}}
              {{!-- Date fields are a label, since they are usually
                    auto-generated based on current date. This may
                    need to change on future occasion. --}}
              {{~#eq? this.type "date"~}}
                <div class="date"></div>
              {{~/eq?~}}
              {{~#eq? this.type "dateonly"~}}
                <div class="dateonly"></div>
              {{~/eq?~}}
              {{!-- Enumerated fields are selected from a dropdown
                    based on database attributes. --}}
              {{~#eq? this.type "enum"~}}
                <select name="{{@key}}">
                  <option disabled selected value=""> Select {{@key}}: </option>
                  {{#each this.select}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              {{~/eq?~}}
              {{!-- Referenced fields are selected from a dropdown
                    based on associated database GET calls. --}}
              {{~#eq? this.type "reference"~}}
                <select name="{{@key}}">
                  <option disabled selected value=""> Select {{@key}}: </option>
                  {{#each this.select}}
                    <option value="{{this.value}}">{{this.text}}</option>
                  {{/each}}
                </select>
              {{~/eq?~}}
              {{!-- Each column contains an error field, where
                    corresponding errors will be propagated. --}}
              <ul class="error"></ul>
            </td>
          {{~/each~}}
        </tr>
        {{~/unless~}}

        {{!-- Remaining rows lists existing items, sorted by
              status: new, used, inactive. --}}
        {{~#each @list}}
        <tr class="{{this.state}}{{#if this.clickId}} id-{{this.clickId}}{{/if}}">
          <td class="action-col {{this.state}}">
            {{!-- Action icon to expand hidden details row. --}}
            {{~#if @expand}}
            <img class="expand" src="/images/expand.png">
            <div class="explain">Show details.</div>
            {{/if}}
            {{!-- Action icon to receive order. --}}
            {{~#if @stock}}{{#if-role @role "in" 'AS'}}
              {{#neq? this.state 'eternal'}}
              <img class="stock" src="/images/stock.png">
              <div class="explain">Mark order as received.</div>
              {{else}}
              <img class="none" src="/images/none.png">
              {{/neq?~}}
            {{~/if-role~}}{{~/if~}}
            {{!-- Action icon to download QR template. --}}
            {{#if @printQr}}
              <a href="/{{@modelName}}/labels/{{this.clickId}}" download>
                <img class="print-qr" src="/images/print.png">
                <div class="explain">Download QR template.</div>
              </a>
            {{/if}}
            {{!-- Action icon to update record status based on
                  existing status. --}}
            {{~#if-role @role "in" 'A'}}{{#unless @noUpdate}}
              {{~#eq? this.state 'new'~}}
                <img class="action-icon" src="/images/remove.png">
                <div class="explain">Permanently delete record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'used'~}}
                <img class="action-icon" src="/images/hide.png">
                <div class="explain">Deactivate record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'hidden'~}}
                <img class="action-icon" src="/images/restore.png">
                <div class="explain">Restore deactivated record.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'busy'~}}
                <img class="busy" src="/images/busy.png">
                <div class="explain">Update in progress.</div>
              {{~/eq?~}}
              {{~#eq? this.state 'eternal'~}}
                <img class="none" src="/images/none.png">
              {{~/eq?}}{{/unless~}}
            {{~else~}}
              <img class="none" src="/images/none.png">
            {{/if-role~}}
          </td>
          <td class="color-coded {{this.state}}"></td>
          {{~#each this}}{{#neq? @key 'state'}}{{#neq? @key 'clickId'}}
          <td class="{{@key}}">
            {{!-- Notes have variable text and are unsuited for tables.
                  Therefore, open them up in new modal frame. --}}
            {{~#eq? @key 'notes'~}}
              {{#neq? this ''}}
              <img class="notes-icon" src="/images/notes.png">
              <div class="show-notes">{{this}}
                <button type="button" class="notes-close-btn">Close</button>
              </div>
              {{/neq?}}

            {{~else~}}
            {{!-- Progress field objects specify that a progress
                  element should be shown. --}}
            {{~#eq? @key 'progress'}}
              <progress value="{{this.value}}" max="{{this.max}}">
              </progress>{{this.description}}

            {{!-- Show all other data besides notes. --}}
            {{~else~}}
              {{this}}
            {{~/eq?~}}
            {{~/eq?~}}
          </td>
          {{~/neq?}}{{/neq?}}{{/each}}
        </tr>
        {{!-- Detail row is hidden unless expanded. --}}
        <tr class="details-row{{#if this.clickId}} id-{{this.clickId}}{{/if}}">
          <td colspan="{{@columns}}"></td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          {{!-- Page navigation. --}}
          <td colspan="{{@columns}}">
            <nav id="pages">
              {{#neq? @page 1}}<a id="prior-page">&#12296;</a>{{/neq?}} 
              <input type="number" name="page" id="page-input" size="2" min="1" value="{{@page}}">  
              <button type="button" id="page-button">Go</button>  
              {{#unless @last}}<a id="after-page">&#12297;</a>{{/unless}}
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>

    <div id="items-box" class="items">
      <ul class="error"></ul>
    </div>

    {{!-- Hidden element contains model name necessary for Javascript function. --}}
    <div id="model-name" class="hidden-name">{{@modelName}}</div>
  </div>

  <div id="message-bar">
    Please be patient, this might take a minute...
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/listView.js"></script>