{{> nav }}

<div class="container">
  <h1>Order {{orderId}}</h1>

  <table>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Status</th>
      <th>Color</th>
      <th>Size</th>
      <th>Factory Order</th>
      <th>Customer Order</th>
      <th>Inner Carton</th>
      <th>Master Carton</th>
    </tr>

    {{#each items}}
      <tr>
        <td>{{this.num}}</td>
        <td>{{this.id}}</td>
        <td>{{this.status}}</td>
        <td>{{this.ColorName}}</td>
        <td>{{this.SizeName}}</td>
        <td>{{this.FactoryOrderId}}</td>
        <td>{{this.CustomerOrderId}}</td>
        <td>{{this.innerbox}}</td>
        <td>{{this.outerbox}}</td>
      </tr>
    {{/each}}

  </table>
</div>


