{{> nav }}

<div class="container">

  <h1>Orders</h1>

  {{!-- Errors due to invalid input show up here. --}}
  {{#if errors}}
  <div id="errors">
    <h2>Error:</h2>
    <ul id="errors-list">
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  <table>
    <tr>
      <th>ID</th>
      <th>Invoice #</th>
      <th>Size</th>
      <th>Arrival Date</th>
      <th>Notes</th>
      <th>Action</th>
    </tr>

    {{#each factoryOrders}}
      <tr>
        <td>
          <a href="/orders/{{this.id}}">{{this.id}}</a>
          </td>
        <td>{{this.label}}</td>
        <td>{{this.size}}</td>
        <td>{{this.arrival_date}}</td>
        <td>{{this.notes}}</td>
        <td>
          <button class="btn btn-danger" onclick="deleteOrder({{this.id}})">Delete</button>
        </td>
      </tr>
    {{/each}}

  </table>

  <div id="new-order">
    <h2>New Order</h2>

    <form action="/orders" method="POST">
      <label for="label">Invoice #: </label>
      <input id="label" type="text" name="label">

      <label for="notes">Notes: </label>
      <input id="notes" type="text" name="notes">

      <table id="new-order-table">
        <tbody>
          <tr>
            <th>Color</th>
            <th>Size</th>
            <th>Quantity (MC)</th>
            <th>Action</th>
          </tr>

          <tr class="new-order-row">
            <td>
              <select id="color1" name="color1">
                <option>Select a color:</option>
                {{#each colors}}
                  <option>{{this.name}}</option>
                {{/each}}
              </select>
            </td>

            <td>
              <select id="size1" name="size1">
                <option>Select a size:</option>
                {{#each sizes}}
                  <option>{{this.name}}</option>
                {{/each}}
              </select>
            </td>

            <td>
              <input id="quantity1" type="number" name="quantity1" min="1">
            </td>

            <td></td>
          </tr>
        </tbody>

      </table>

      <input type="hidden" value="1" name="count" id="item-count">

      <button class="btn btn-primary" onClick="addItem()" type="button">New Item</button>
      <br>
      <br>
      <input class="btn btn-success" type="submit" value="Submit Order">
    </form>
  </div>
</div>

<script>
  let itemCount = 1;

  function deleteOrder(id) {
    let xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", "/api/factory_orders/" + id, true);
    xhttp.onreadystatechange = function(event) {
      if (xhttp.readyState === 4) {
        if (xhttp.status === 200) {
          location.reload();
        } else {
          error.innerHTML = "<ul><li>Error: " + xhttp.statusText + "</li></ul>";
        }
      }
    };
    xhttp.send();
  }

  function addItem() {
    itemCount++;
    document.getElementById('item-count').value = itemCount;

    let newRow = document.getElementsByClassName("new-order-row")[0].cloneNode(true);
    newRow.children[3].remove();

    let td = document.createElement("td");

    let deleteButton = document.createElement("button")
    deleteButton.append("Delete");
    deleteButton.setAttribute("class", "btn-danger");
    deleteButton.setAttribute("onClick", "deleteItem(this)");

    let selectColor = newRow.querySelector("#color1");
    selectColor.id = selectColor.name = "color" + itemCount;

    let selectSize = newRow.querySelector("#size1");
    selectSize.id = selectSize.name = "size" + itemCount;

    let inputQuantity = newRow.querySelector("#quantity1");
    inputQuantity.id = inputQuantity.name = "quantity" + itemCount;

    td.appendChild(deleteButton);
    newRow.appendChild(td);
    document.getElementById("new-order-table").children[0].appendChild(newRow);
  }

  function deleteItem(deleteButton) {
    let row = deleteButton.parentNode.parentNode;
    let table = row.parentNode;

    table.removeChild(row);
    itemCount--;
    document.getElementById('item-count').value = itemCount;
  }
</script>