{{> nav }}

<div class="container">
  <h1>Order {{order.id}}</h1>
  <p>Invoice #: {{order.label}}</p>
  <p>Notes: {{order.notes}}</p>

  <table>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Status</th>
      <th>SKU</th>
      <th>UPC</th>
      <th>Order ID</th>
      {{#eq? @orderType "customer"}}<th>Type</th>{{/eq?}}
      <th>Inner Carton</th>
      <th>Master Carton</th>
    </tr>

    {{#each order.Items}}
      <tr>
        <td>{{this.num}}</td>
        <td>{{this.id}}</td>
        <td>{{this.status}}</td>
        <td>{{this.Sku.id}}</td>
        <td>{{this.Sku.upc}}</td>
        {{#eq? @orderType "customer"}}
        <td>{{this.CustomerOrderId}}</td>
        <td>{{@type}}</td>
        {{else}}
        <td>{{this.FactoryOrderId}}</td>
        {{/eq?}}
        <td>{{this.innerbox}}</td>
        <td>{{this.outerbox}}</td>
      </tr>
    {{/each}}

  </table>
</div>


