{{> nav }}

<div class="container">
  <h1>User Profile</h1>
  <p>{{@firstname}} {{@lastname}}</p>
  <p>{{@email}}</p>

  {{!-- Form to add new user. Form receives 'fill_' paramss for default values.
        These are initially empty, but if user enters invalid input, his input
        will be stored in 'fill_' params so they can be returned with error
        messages. The roles are populated from database attributes. --}}
  <form action="/profile" method="post">
    <label for="fname">First Name: </label>
    <input id="fname" type="text" name="firstname" value="{{fill_firstname}}">
    <label for="lname">Last Name: </label>
    <input id="lname" type="text" name="lastname" value="{{fill_lastname}}">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="{{fill_email}}">
    <label for="role">Role: </label>
    <select name="role">
      <option disabled selected value> Select a role: </option>
      {{#each roles}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Create">
  </form>

  {{!-- Errors due to invalid input show up here. --}}
  {{#if errors}}
  <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
  {{/if}}

  {{!-- This is a table of all the users. --}}
  <table>
    <th>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Role</td>
    </th>

    {{#each @allUsers}}
      <tr>
        <td>{{this.firstname}}</td>
        <td>{{this.lastname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        {{!-- There will be buttons to delete any user except for the
              admin himself. --}}
        {{#unless this.self}}
        <td><form action="/profile/del/{{this.email}}" method="post">
          <input type="submit" value="Delete">
        </form></td>
        {{/unless}}
      </tr>
    {{/each}}

  </table>
</div>