{{> nav }}

<div class="container">
  <h1>SKUs</h1>

  <div class="add-form">
    <p>New SKU</p>
    <form action="/skus" method="post"> 
      <label for="new_sku">SKU </label>
      <input id="new_sku" type="text" name="new_sku" value="{{@fill_sku}}">
      
      <select name="color">
        <option disabled selected value> Select a color: </option>
        {{#each colors}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <select name="size">
        <option disabled selected value> Select a role: </option>
        {{#each sizes}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <label for="upc">UPC </label>
      <input id="upc" type="text" name="upc" value="{{@fill_upc}}">

      <input type="submit" name="add_sku" class="btn btn-success" value="Add">
    </form>
  </div>

  {{> style style="sku" listOfStyle=@colors }}

  {{> error_msg }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
  var type = "color";
</script>
<script src="/js/styles.js"></script>